.meals {
  gap: 2rem;
  margin: 2rem auto;
  max-width: 60rem;
  animation: meals-appear 0.5s ease-out forwards;
}
.meals ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.meals li {
  margin: 1rem 0;
  background-color: #f8f8f8;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}
@keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.meals h3 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 1rem;
}
