.cart-items {
  list-style: none;
  margin: 0;
  padding: 0;
}
.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
}
.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  font-weight: bold;
  font-size: 1.5rem;
}
.button {
  background-color: #ff2058;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.button:hover {
  background-color: #ff3b6f;
}
.actions {
  text-align: right;
}
.button--alt {
  background-color: #ccc;
  color: black;
  margin-right: 1rem;
  padding: 0.5rem 1rem;
}
