.input{
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}
.input label{
    font-weight: bold;
    width: 7rem;
    color: black;
}
.input input{
    font: inherit;
    background-color: #f9f5f5;
    border: 1px solid #8a2b06;
    padding-left:0.5rem;
    width: 3rem;
    box-sizing: border-box;
}